<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template/layout/base :: common_header(~{::title}, ~{::link})}">
    <!-- 코드 동작 개념: 나는 만들어놓은 템플릿 레이아웃을 가져올거야. 근데 레이아웃 만들 때 내가 전달한 값들을 반영해. -->
    <meta charset="UTF-8">
    <title>layoutMain 타이틀</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/themes/smoothness/jquery-ui.css}">
</head>
<body>
    메인 컨텐츠 <br>
    페이지 소스 보기를 통해 적용된 head 태그 확인
</body>
</html>
